@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse-emerald {
  0%, 100% {
    transform: scale(1);
    @apply bg-emerald-400;
  }
  50% {
    transform: scale(1.2);
    @apply bg-emerald-300;
  }
}

@keyframes pulse-rose {
  0%, 100% {
    transform: scale(1);
    @apply bg-red-500;
  }
  50% {
    transform: scale(1.2);
    @apply bg-red-400;
  }
}

.animate-pulse-emerald {
  animation: pulse-emerald 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-pulse-rose {
  animation: pulse-rose 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.birthday-gradient {
  background: linear-gradient(180deg, #5ffbf1, #ff00bf);
}